[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
Sphinx = "*"
bumpversion = "*"
codecov = "*"
coverage = "*"
epc = "*"
flake8 = "*"
guzzle-sphinx-theme = "*"
hypothesis = "*"
importmagic = "*"
ipython = "*"
pyls-isort = "*"
pyls-mypy = "*"
pytest = "*"
pytest-cov = "*"
python-language-server = {extras = ["rope", "pyflakes", "mccabe", "pycodestyle", "pydocstyle", "yapf"],version = "*"}
twine = "*"
watchdog = "*"
wheel = "*"
yapf = "*"

[packages]
click = "*"
pyparsing = "*"
ruamel-yaml = "*"
